
@{
    ViewData["Title"] = "Reconocimiento";
}

<head>
    <link rel="stylesheet" href="~/css/procesar_imagen.css" />
</head>
<!--
<h1>Detección Facial con Edad, Género y Emociones (En Vivo)</h1>
<div id="contenedor">
    <video id="video" autoplay muted></video>
    <canvas id="canvas"></canvas>
</div>
<div id="resultado">Cargando modelos...</div>
-->


<!--
<div class="facial-detection-container">
    <div id="contenedor">
        <video id="video" autoplay muted></video>
        <canvas id="canvas"></canvas>
    </div>
    <div id="resultado" class="loading">Cargando modelos...</div>
</div>-->





<div class="facial-detection-container">
    <div id="contenedor">
        <video id="video" autoplay muted></video>
        <canvas id="canvas"></canvas>
        <a href="#" onclick="capturarFoto()">
            <i class='bx  bx-camera-alt'  ></i>
        </a>
        <div id="resultado" class="loading">Cargando modelos...</div>

        <div class="indicador-rec">
            <span class="punto-rec"></span>
            <span class="texto-rec">REC</span>
        </div>
    </div>

    <div id="historial-capturas"></div>

</div>

<script>
        function capturarFoto() {
      const video = document.getElementById('video');
      const canvas = document.createElement('canvas');
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
      const ctx = canvas.getContext('2d');
      ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

      const dataUrl = canvas.toDataURL('image/png');

      const item = document.createElement('div');
      item.className = 'item-historial';

      const img = document.createElement('img');
      img.src = dataUrl;

      const desc = document.createElement('p');
      desc.textContent = 'Captura ' + new Date().toLocaleTimeString();

      item.appendChild(img);
      item.appendChild(desc);

      document.getElementById('historial-capturas').prepend(item);
    }

</script>









<script src="https://cdn.jsdelivr.net/npm/face-api.js@0.22.2/dist/face-api.min.js"></script>
<script src="~/js/proceso_imagen.js"></script>